{
  "mema_login_url": "https://my-domain.com",
  "mema_order_url": "https://my-domain.com",
  "mema_einrichtung": "Einrichtung",
  "mema_username": "mustermann",
  "mema_password": "secret",
  "bof_url": "https://my-domain.com",
  "bof_username": "mustermann",
  "bof_password": "secret"
}